---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const bases = await getCollection('base');
const modifiers = await getCollection('modifier');
const flatsAll = [...bases, ...modifiers].sort((a, b) => String(a.data.title).localeCompare(b.data.title));

// import
---
<style>
    .toc a::after {
        content: leader('.') target-counter(attr(data-entry), page);
    }
</style>
<Layout title="What's That Flat?">
    {
        flatsAll.map((entry) => (
            <h2>{entry.data.title}</h2>
            <p>{entry.data.brief}</p>
        ))
    }
</Layout>