---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const bases = await getCollection('base');
const modifiers = await getCollection('modifier');
const flatsAll = [...bases, ...modifiers].sort((a, b) => String(a.data.title).localeCompare(b.data.title));
const renderedAll = await Promise.all(
    flatsAll.map(async entry => await entry.render())
);

// import
---
<style>
    .toc a::after {
        content: leader('.') target-counter(attr(data-entry), page);
    }
</style>
<Layout title="What's That Flat?">
    {
        renderedAll.map(({Content}) => (<Content />))
    }
    <h2>Index</h2>
    <div class="toc">
        {
            flatsAll.map(entry => (
                <span>
                    <b><a data-entry={entry.slug}>{entry.data.title}</a></b><br/>
                </span>
            ))
        }
    </div>
</Layout>