---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { getCollection } from 'astro:content';

const bases = await getCollection('base');
const modifiers = await getCollection('modifier');

---

<Layout title="What's That Flat?">
	<p class="instructions">
		Learn about the various types of <acronym title="National Puzzlers' League">NPL</acronym> flat puzzles.
	</p>
	<h2>Base Types</h2>
	<ul role="list" class="link-card-grid">
		{bases.map((entry) => (
			<Card
			href={`base/${entry.slug}`}
			title={entry.data.title}
			body={entry.data.brief || ''}
			/>))}
	</ul>
	<h2>Modifiers</h2>
	<ul role="list" class="link-card-grid">
		{modifiers.map((entry) => (
			<Card
			href={`modifier/${entry.slug}`}
			title={entry.data.title}
			body={entry.data.brief || ''}
			/>))}
	</ul>
</Layout>

<style>
</style>
