---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import flatsList from '../content/flats.json';
---

<Layout title="Welcome to Flats.">
	<p class="instructions">
		Learn about the various types of <acronym title="National Puzzlers' League">NPL</acronym> flat puzzles.
	</p>
	<ul role="list" class="link-card-grid">
		{Object.keys(flatsList).map((flatKey) => (
			<Card
				href={`${flatsList[flatKey].type}/${flatKey}`}
				title={flatsList[flatKey].title}
				body={flatsList[flatKey].body}
		/>))}
	</ul>
</Layout>

<style>
</style>
