---
const { 
    definition = null
} = Astro.props;
---

<span class={`finally ${definition ? ' defined' : ''}`} title={definition}><slot /></span>
{
    definition ? (
        <span class="print-only">({definition})</span>
    ) : ''
}
<style>
    
</style>
