---
const { 
    printArrow = false,
    definition = null
} = Astro.props;
---

<span class={`step ${printArrow ? ' printArrow' : ''} ${definition ? ' defined' : ''}`} title={definition}><slot /></span> 
{
    definition ? (
        <span class="print-only">({definition})</span>
    ) : ''
}
<style>
    
</style>
