---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<base href="/" />
	</head>
	<body>
		<main>
			<header>
				<h1><a class="text-gradient" href="/">What's That Flat?</a></h1>
			</header>
			<slot />
			<footer>
				By &semi; (semicolon (David Millar)) &#8212; Based on content from the Guide to the Enigma from the <a href="https://puzzlers.org"><acronym title="National Puzzlers' League">NPL</acronym></a>, reused/remixed with permission. &#8212; <a href="https://github.com/davmillar/flats">Hosted and open-source at GitHub</a>. &#8212; <a href="guide-test">Here's everything in one document.</a> &#8212; <a href="guide-brief-test">Here's the abridged version.</a>
			</footer>
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-bad: 237, 91, 91;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--reverse-gradient: linear-gradient(95deg, green, red 100%);
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	header {
		line-height: 1.2;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	a {
		color: rgb(var(--accent));
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions acronym {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.step label,
	.finally label {
		font-weight: 400;
	}
	.step label::after,
	.finally label::after {
		content: "=";
	}
	.example em,
	.example strong {
		margin: 0 2pt;
	}
	del {
		text-decoration: none;
	}
	del::before {
		content: "(";
	}
	del::after {
		content: ")";
	}
	.example-block {
		line-height: 2.5;
	}
	.reverse {
		background-image: var(--reverse-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100%;
		background-position: 0%;
	}
	footer {
		margin-top: 2em;
		font-size: .9em;
		color: #333;
	}
	@media print {
		.example {
			font-style: italic;
			display: inline-block;
		}
		.step:not(.printArrow)::after {
			content: ",";
		}
		.step.printArrow::after {
			content: " \2192 ";
		}
		p {
			text-indent: .5em;	
		}
		blockquote p {
			text-indent: 0;
		}
		h2 {
			break-after: avoid;
		}
		h2+p {
			text-indent: 0;
		}
		.example em {
			text-decoration: underline;
		}
		.example strong {
			font-weight: inherit;
		}
		.print-only {
			display:initial;
		}
	}
	@media screen {
		main {
			margin: auto;
			padding: 1.5rem;
			max-width: 80ch;
			line-height: 1.9;
		}
		blockquote {
			line-height: 1.6;
			margin: 1rem 0;
			border: 1px solid rgba(var(--accent), 25%);
			background-color: white;
			padding: 1rem;
			border-radius: 0.4rem;
		}
		.example {
			/* display: inline-block; */
			line-height: 1.2;
			font-size: 0.875em;
			font-weight: bold;
			border-radius: 4px;
			padding: 0.3em 0.45em;
			text-transform: uppercase;
			background: rgba(var(--accent), 12%);
			color: rgb(var(--accent));
		}
		.example.bad,
		.example.bad .step,
		.example.bad .finally {
			background: rgba(var(--accent-bad), 12%);
			color: rgb(var(--accent-bad));
		}
		.step, .finally {
			display: inline-block;
			line-height: 1;
			position: relative;
			font-weight: bold;
			border-radius: 4px;
			padding: 0.1em 0.2em;
			text-transform: uppercase;
		}
		.step {
			background: rgba(var(--accent), 12%);
			color: rgb(var(--accent));
			border-radius: 4px 0 0 4px;
			margin-right: 1em;
		}
		.step::after {
			content: "";
			position: absolute;
			left:100%;
			top:0;
			bottom:0;
			display: block;
			width: 1pt;
			height: 0;
			border: .6em solid;
			border-color: transparent transparent transparent rgba(var(--accent), 12%);
		}
		.finally {
			background: rgba(var(--accent), 12%);
			color: rgb(var(--accent));
		}
		.example del {
			color: #900;
			padding: 0.3em 0.2em;
		}
		.example ins {
			color: green;
			padding: 0.3em 0.2em;
		}
		.example em {
			font-style: normal;
			text-decoration: underline;
			color: blue;
		}
		.example strong {
			text-decoration: underline;
			color: blue;
		}
		.defined {
			cursor: help;
		}
		.print-only {
			display:none;
		}
	}
</style>
