---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<base href="/flats/" />
	</head>
	<body>
		<main>
			<header>
				<h1><a class="text-gradient" href="/flats/">Flats</a></h1>
			</header>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
		--reverse-gradient: linear-gradient(95deg, green, red 100%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	a {
		color: rgb(var(--accent));
	}
	blockquote {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions acronym {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
	.before, .after {
		position: relative;
		font-size: 0.875em;
		font-weight: bold;
		border-radius: 4px;
		padding: 0.3em 0.45em;
		margin-right: 1.5em;
		text-transform: uppercase;
	}
	.before {
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px 0 0 4px;
	}
	.before::after {
		content: "";
		position: absolute;
		left:100%;
		top:0;
		bottom:0;
		display: block;
		width: 1pt;
		height: 0;
		border: .6em solid;
		border-color: transparent transparent transparent rgba(var(--accent), 12%);
		border-width: 1em;
	}
	.after {
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
	}
	.before label,
	.after label {
		font-weight: 400;
	}
	.before label::after,
	.after label::after {
		content: "=";
	}
	del {
		color: red;
		text-decoration: none;
		/* text-decoration-color: #000; */
		padding: 0.3em 0.4em;
	}
	del::before {
		content: "(";
	}
	del::after {
		content: ")";
	}
	ins {
		color: green;
		text-decoration-color: #000;
		padding: 0.3em 0.4em;
	}
	.example-block {
		line-height: 2.5;
	}
	.reverse {
		background-image: var(--reverse-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100%;
		background-position: 0%;
	}
</style>
